.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
bower_components/
npm-debug.log
/demo
/dist/static
/dist/index.html
build/milestone.json
examples/webpack/
.idea
*.vue.vux.*
src/components/index.js


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
