* { box-sizing: border-box; }
.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 80%;
    border-radius: 6px;
    background: #e8e8e8;
    text-align: center;
}

.modal-inner {
    padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #e8e8e8;
}

.modal-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modal-title+.modal-text {
    margin-top: 10px;
}

.modal-buttons {
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.modal-button {
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    color: #0894ec;
    background: #e8e8e8;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    border-top: 1px solid #b5b5b5;
}

.modal-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
    display: block;
    z-index: 15;
    transform: scaleY(.5);
}

.modal-button:first-child,
.modal-button:last-child {
    border-radius: 0 0 8px 8px;
}

.modal-button:last-child:after {
    display: none;
}

.modal-button:active {
    background-color: #fff;
}

.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10600;
}

.modal.modal-in {
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.modal.modal-out {
    opacity: 0;
    z-index: 10999;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
    transform: translate3d(0, 0, 0) scale(0.815);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}